/* HEX */
:root {
	--color-dark: #0B0033; /*russian violet*/
	--color-dark-alt: #4B1746; /*dark purple*/
	--color-accent: #CB9CF2; /*bright lilac*/
	--color-light: #CBF3F0; /*light cyan*/
	--color-light-alt: #E09F7D; /*antique brass*/
}

html {
	position: relative;
	min-height: 100%;
}

@media screen and (min-width: 576px) {
	.container-fluid {
		background-color: hotpink;
	}
	.sidenav {
		float: left;

	}
	.inner-page {
		float: right;
	}
}

@media screen and (min-width: 768px) {
	.container-fluid {
		background-color: yellow;
	}
}

container-fluid {
	min-height: 100%;
	margin: 0px;
	display:grid;
}

.row {
	height: auto;
}
.sidenav {
	background-color: var(--color-dark);
	height: 100%;
	min-width:fit-content;
	color: var(--color-light);
	font-size: 20px;
	margin-bottom: 0px;
	padding: 20px;
	/* margin: 20px; */
	position: fixed;
	max-width: 15%;
}

body {
	background-color: var(--color-light);
	color: var(--color-dark-alt);
	font-family: Bookman;
	font-size: 17px;
}
#google_translate_element {
	float: right;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(11, 0, 51, 1);
	}

#social1 {
	width: 55px;
	height: 55px;
}

#social2 {
	width: 55px;
	height: 55px;
}

.social-links {
	padding-top: 20%;
	width: 80%;
	height: auto;
	align-content: center;
	display: block;
	margin-left: 20%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #4B1746;
	color: #CB9CF2;
	text-align: center;
	margin-top: 0px;
}

#innerpage {
	background-color:#f8f8f8;
	padding: 30px;
	border-radius: 8px;
	max-height: fit-content;
	margin: 30px 30px 30px 25%;
	max-width: 80%;
}

.info {
	list-style: none;
}
#edu {

}
#skills {

}
#edu {

}
#vol {

}