/* HEX */
:root {
	--color-dark: #0B0033; /*russian violet*/
	--color-dark-alt: #4B1746; /*dark purple*/
	--color-accent: #CB9CF2; /*bright lilac*/
	--color-light: #CBF3F0; /*light cyan*/
	--color-light-alt: #56311d; /*antique brass*/
}
html {
	position: relative;
	min-height: 100%;
}
body {
	color: var(--color-light-alt);
	font-family: Bookman;
	font-size: 17px;
}
@media screen and (min-width: 576px) {
	.container-fluid {
		background-color: hotpink;
	}
}
@media screen and (min-width: 768px) {
	.container-fluid {
		background-color: var(--color-dark);
	}
}
container-fluid {
	min-height: 100%;
	margin: 0px;
	display:grid;
}
.row {
	height: auto;
}
.sidenav {
	background-color: var(--color-dark);
	height: 100%;
	min-width:fit-content;
	color: var(--color-light-alt);
	font-size: 20px;
	margin: 0px 20px 0px 0px;
	padding: 50px;
	position: fixed;
	max-width: 15%;
}
#social1 {
	width: 55px;
	height: 55px;
}
#social2 {
	width: 55px;
	height: 55px;
}
.social-links {
	padding: 20%;
	width: 80%;
	height: auto;
	align-content: center;
	display: block;
	margin-left: 20%;
}
#innerpage {
	background-color:#f0F9F9;
	padding: 30px;
	border-radius: 8px;
	max-height: fit-content;
	margin: 30px;
	max-width: 80%;
	color: var(--color-light-alt);
}
.info {
	list-style: none;
}
#edu {
}
#skills {
}
#edu {
}
#vol {
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #4B1746;
	color: #CB9CF2;
	text-align: center;
	margin-top: 50px;
}